{% extends 'main/base.html' %}
<!-- widget tweaks is used to add extra attributes to django forms -->
{% load widget_tweaks %} 

{% block title %} Change Password {% endblock title %}
{% block head %}
<script>
    var check = function() {
        if (document.getElementById('id_new_password1').value ==
            document.getElementById('id_new_password2').value) {
            document.getElementById('message').style.color = 'green';
            document.getElementById('message').innerHTML = 'Password Matching';
        } else {
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'Password Not Matching';
        }
    }
</script>
<script>
    function displayPassword0() {
        var x = document.getElementById("id_old_password");
        if (x.type === "password") {
            x.type = "text";
            document.getElementById('id_display_old_password').innerHTML = `<i class="fa-solid fa-eye-slash"></i>`;
        } else {
            x.type = "password";
            document.getElementById('id_display_old_password').innerHTML = `<i class="fa-solid fa-eye"></i>`;
        }
    }
    function displayPassword1() {
        var x = document.getElementById("id_new_password1");
        if (x.type === "password") {
            x.type = "text";
            document.getElementById('id_display_password1').innerHTML = `<i class="fa-solid fa-eye-slash"></i>`;
        } else {
            x.type = "password";
            document.getElementById('id_display_password1').innerHTML = `<i class="fa-solid fa-eye"></i>`;
        }
    }
    function displayPassword2() {
        var x = document.getElementById("id_new_password2");
        if (x.type === "password") {
            x.type = "text";
            document.getElementById('id_display_password2').innerHTML = `<i class="fa-solid fa-eye-slash"></i>`;
        } else {
            x.type = "password";
            document.getElementById('id_display_password2').innerHTML = `<i class="fa-solid fa-eye"></i>`;
        }
    }

</script>
{% endblock head %}
{% block content %}
<div class="container"> 
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg ">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Change Password</h1>
                                </div>
                                <form method="post" class="user text-center">
                                    {% csrf_token %}
                                    <div class="form-group m-1">
                                        Current Password &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        {{form.old_password}} <span id="id_display_old_password" onclick="displayPassword0();"><i class="fa-solid fa-eye"></i></span>
                                    </div>
                                    <div class="form-group m-1">
                                        New Password &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        {{form.new_password1|attr:"onkeyup=check()"}} <span id="id_display_password1" onclick="displayPassword1();"><i class="fa-solid fa-eye"></i></span>
                                    </div>
                                    <div class="form-group m-1">
                                        Confirm Password &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        {{form.new_password2|attr:"onkeyup=check()"}} <span id="id_display_password2" onclick="displayPassword2();"><i class="fa-solid fa-eye"></i></span>
                                    </div>
                                    <span class="" id='message'></span>
                                    
                                    <div class="text-center pt-3">
                                        <input class="btn btn-secondary" type="button" value="Cancel" onClick="javascript:history.go(-1);">
                                        <input  class="btn btn-primary" type="submit"   value="Update">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
{% endblock content %}